# Python
__pycache__/
*.py[cod]
*.egg-info/

# Build
build/
tahdubawl-portable/_*.so
tahdubawl-portable/*.so*
tahdubawl-portable/tahdubawl.bin
tahdubawl-portable/tahdubawl.exe
tahdubawl-portable/yaml/
tahdubawl-portable/lib*/

# Virtualenv
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Résultats
resultats/

# Excel
*.xlsx
